Host                            =   "localhost"
Port                            =   80

RelationalDatabaseHost          =   "localhost"
RelationalDatabaseName          =   "mydb"
RelationalDatabaseUser          =   "user"
RelationalDatabasePass          =   "pass"
RelationalDatabaseSSLmode       =   "disable"

TimeseriesDatabaseURL           =   "https://url-to-influxdb-instance.ext/"
TimeseriesDatabaseOrganization  =   "myOrganization"
TimeseriesDatabaseToken         =   "token-from-influxdb-instance"

CacheSessionDurationMinutes     =   120
CacheAuthRequestDurationMinutes =   30