<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificatiecode</title>
    <style></style>
</head>
<body>
    <h1>WildlifeNL</h1>
    <p>Beste {{.DisplayName}},</p>
    <p>De applicatie <strong>{{.AppName}}</strong> wil graag aanmelden bij WildlifeNL met jouw e-mailadres.</p>
    <p>Om dit toe te staan, voer onderstaande code in bij deze applicatie:</p>
    <p><pre>{{.Code}}</pre></p>
    <p>Met vriendelijke groet,<br/>
    <strong>WildlifeNL</strong></p>
    <p>&copy; {{.Year}} WildlifeNL. Alle rechten voorbehouden.</p>
</body>
</html>